/Data/Annotation/Data/leerder_corpus_KU.html
/.idea/ma_thesis.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Transformers/Other/Text_Classification_on_GLUE.ipynb
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/optimizer.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/optimizer.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/optimizer.pt
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/rng_state.pth
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/rng_state.pth
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/rng_state.pth
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/scheduler.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/scheduler.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/scheduler.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/trainer_state.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/trainer_state.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/trainer_state.json
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification/training_args.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/training_args.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/training_args.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/training_args.bin
/Data/Annotation/Data/leerder_corpus_KU_preprocessed.tsv
/Other/verb_position_permutations_test.py
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/lassy_corpus/
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/wainot_corpus/
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/leipzig_corpus/
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/leipzig_data.tsv
/Data/Dataset_Construction/Permuted_Datasets/dev_shuffled_random_all.tsv
/Data/Dataset_Construction/Permuted_Datasets/train_shuffled_random_all.tsv
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/leipzig_data.tsv
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/lassy_data.tsv
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/readability_data.tsv
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/wainot_data.tsv
/Data/Dataset_Construction/Permuted_Datasets/dev_shuffled_random_all_and_verbs_old.tsv
/Data/Dataset_Construction/Permuted_Datasets/train_shuffled_random_all_and_verbs_old.tsv
/Parsers/Detection/Data/Tuples/Spacy/tuple_data_spacy_train_VR.json
/Parsers/Detection/Data/Tuples/Spacy/tuple_data_spacy_train_C.json
/Parsers/Detection/Data/Tuples/Spacy/tuple_data_spacy_train_AR.json
/Parsers/Detection/Data/Tuples/Spacy/tuple_data_spacy_dev_VR.json
/Parsers/Detection/Data/Tuples/Spacy/tuple_data_spacy_dev_C.json
/Parsers/Detection/Data/Tuples/Spacy/tuple_data_spacy_dev_AR.json
/Data/Dataset_Construction/Unpermuted_Datasets/dev.tsv
/Data/Dataset_Construction/Unpermuted_Datasets/train.tsv
/Data/Dataset_Construction/Permuted_Datasets/train_shuffled_random_all_and_verbs.tsv
/Data/Dataset_Construction/Permuted_Datasets/dev_shuffled_random_all_and_verbs.tsv
/Data/Dataset_Construction/Permuted_Datasets/train_shuffled_random_all_and_verbs_sampled.tsv
/Data/Annotation/Data/add_annotator_information.py
/Data/Dataset_Construction/Permuted_Datasets/train_shuffled_random_all_and_verbs_sampled_transformer.tsv
/Transformers/Detection/Fine-tuning/
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification_no_punc/
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification_verbs_no_punc/
/Transformers/Detection/GPT-2/finetuned_gpt2_sequence_classification_no_punc/
/Transformers/Detection/GPT-2/finetuned_gpt2_sequence_classification_verbs_no_punc/
/Transformers/Detection/RobBERT/finetuned_robbert_sequence_classification_no_punc/
/Transformers/Detection/RobBERT/finetuned_robbert_sequence_classification_verbs_no_punc/
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification_no_punc2/
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification_no_punc3/
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification_verbs_no_punc2/
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification_verbs_no_punc3/
/Transformers/Detection/RobBERT/finetuned_robbert_sequence_classification_no_punc2/
/Transformers/Detection/RobBERT/finetuned_robbert_sequence_classification_no_punc3/
/Transformers/Detection/RobBERT/finetuned_robbert_sequence_classification_verbs_no_punc2/
/Transformers/Detection/RobBERT/finetuned_robbert_sequence_classification_verbs_no_punc3/
/Transformers/Detection/GPT-2/finetuned_gpt2_sequence_classification_no_punc2/
/Transformers/Detection/GPT-2/finetuned_gpt2_sequence_classification_no_punc3/
/Transformers/Detection/GPT-2/finetuned_gpt2_sequence_classification_verbs_no_punc2/
/Transformers/Detection/GPT-2/finetuned_gpt2_sequence_classification_verbs_no_punc3/
