/Data/Annotation/Data/leerder_corpus_KU.html
/.idea/ma_thesis.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Transformers/Other/Text_Classification_on_GLUE.ipynb
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/config.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/optimizer.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/optimizer.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/optimizer.pt
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/pytorch_model.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/rng_state.pth
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/rng_state.pth
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/rng_state.pth
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/scheduler.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/scheduler.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/scheduler.pt
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/trainer_state.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/trainer_state.json
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/trainer_state.json
/Transformers/Detection/BERTje/finetuned_bertje_sequence_classification/training_args.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-13/training_args.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-26/training_args.bin
/Transformers/Detection/BERTje/results_bertje_detection/checkpoint-39/training_args.bin
/Data/Annotation/Data/leerder_corpus_KU_preprocessed.tsv
/Other/verb_position_permutations_test.py
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/lassy_corpus/
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/wainot_corpus/
/Data/Dataset_Construction/Unpermuted_Datasets/Originals/leipzig_corpus/
/Data/Dataset_Construction/Unpermuted_Datasets/leipzig_data.tsv
